<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda Online</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <style>
    .custom-header {
      background: linear-gradient(to right, #4F46E5, #9255E6);
    }

    .custom-header .navbar-brand {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
    }

    .custom-header .nav-link {
      color: #fff;
      font-size: 1rem;
      text-decoration: none;
      transition: color 0.3s;
    }

    .custom-header .nav-link:hover {
      color: #D1D1D1;
    }
  </style>
</head>

<body>
  <header class="custom-header shadow-sm">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Mi tienda Online</a>
      

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/productos">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categorias">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Compras</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Favoritos</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>